# Build & compilation
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
.vsconfig

# Rider / JetBrains
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/
*.code-workspace

# OS noise
Thumbs.db
Desktop.ini
.DS_Store

# Local scratch files
.claude/
.cladue/
.ai/

# NuGet
.nuget/
artifacts/
*.nupkg
*.snupkg

# Misc temp files
*.tmp
*.temp
~*
.swp
.swo

*.snk
.tmp/
